/* .custom-pie-chart svg path {
    stroke: #000; 
  }


  .doughnut-container {
    position: relative;
  }
  
  .center-text {
    position: absolute;
    top: 50%;
    background-color: aqua;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff; 
  }
   */
   